<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Redditology{% block title %}{% endblock title %}</title>

		<!-- CSS -->
		<link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap_custom.css">
		{% block css %}
		{% endblock css %}
	</head>

	<body>
		{% block nav %}
		{% include '_nav.html' %}
		{% endblock nav %}

		<header class="page-header">
			<!-- <h1>Movie Manage <small>A film project management platform</small></h1> -->
			<h1>Redditology <small>Because data can be fun</small></h1>
		</header>

		{% block content %}
		{% endblock content %}

		<!-- JS -->
		<script src="{{STATIC_URL}}js/jquery-1.7.2.min.js"></script>
		<script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
		{% block js %}
		{% endblock js %}

	</body>
</html>